@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zen Maru Gothic", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}

.box {
  position: relative;
  width: 300px;
  scale:1.05;
}

.box .inputBox {
  position: relative;
  width: 100%;
  background: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.box .inputBox input {
  position: relative;
  width: 100%;
  outline: none;
  border: none;
  padding: 10px 5px;
}

.box .inputBox #toggleBtn {
  position: absolute;
  top: 8px;
  right: 9px;
  width: 33px;
  height: 33px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .inputBox #toggleBtn::before {
  content: "\f06e";
  color: #435e74;
  font-family: fontAwesome;
}
.box .inputBox #toggleBtn.hide::before {
  content: "\f070";
  color: #435e74;
}

.validation {
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 80%);
  padding: 10px;
  margin-top: 30px;
  border-radius: 9px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
}

.validation ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.validation ul li {
  position: relative;
  list-style: none;
  color: white;
  font-size: 0.8em;
  transition: 0.3s;
}

.validation ul li.valid {
  color: rgba(255, 255, 255, 0.4);
}
.validation ul li::before {
  content: "\f192";
  font-family: fontAwesome;
  width: 18px;
  height: 10px;
  display: inline-flex;
}
.validation ul li.valid::before {
  content: "\f00c";
  color: #3b8ea1c7;
  transition: 0.3s;
}
